<div class="p-10">
  <div
    class="bg-white w-max mx-auto py-5 px-8 rounded-lg shadow-xl border-2 border-slate-300"
  >
    <h1 class="font-semibold text-3xl mb-4">Ubah Data Mahasiswa</h1>
    <% if (typeof errors != "undefined") { %>
    <ul class="bg-red-500 w-max py-2 px-3 rounded-lg">
      <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/update" method="post" class="flex flex-col mt-4">
      <input type="hidden" name="oldNim" value="<%= mhs.oldNim || mhs.nim %>" />
      <label for="nama" class="mb-2">Nama</label>
      <input
        type="text"
        class="p-1.5 border-2 border-slate-500 rounded-lg w-max"
        id="nama"
        name="nama"
        placeholder="masukkan nama..."
        required
        value="<%= mhs.nama %>"
      />
      <label for="nim" class="my-2">NIM</label>
      <input
        type="text"
        class="p-1.5 border-2 border-slate-500 rounded-lg w-max"
        id="nim"
        name="nim"
        placeholder="masukkan nim..."
        required
        value="<%= mhs.nim %>"
      />
      <label for="ipk" class="my-2">IPK</label>
      <input
        type="text"
        class="p-1.5 border-2 border-slate-500 rounded-lg w-max"
        id="ipk"
        name="ipk"
        placeholder="masukkan ipk..."
        required
        value="<%= mhs.ipk %>"
      />
      <button
        class="py-1.5 px-3 bg-orange-600 hover:bg-orange-700 transition-all w-max mt-4 rounded-lg font-medium text-white"
      >
        Ubah Data
      </button>
    </form>
  </div>
</div>
